# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
smart_home_flutter/gen/
/SmartDevice/parts/
/SmartDevice/prime/
/SmartDevice/stage/
/SmartDevice/*.snap
/FlutterApp/smart_home_flutter/ios/Flutter/flutter_export_environment.sh
/FlutterApp/smart_home_flutter/.flutter-plugins-dependencies

/Files/googlePlayStore/*