<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907181373877-16mu8jisuhf4ptpf33gk9llmf6iflkug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907181373877-16mu8jisuhf4ptpf33gk9llmf6iflkug</string>
	<key>API_KEY</key>
	<string>AIzaSyDruAYWrAVwayqOQoA63r3E1uokHV3Bh7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>907181373877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybear-jinni.smart-home</string>
	<key>PROJECT_ID</key>
	<string>smarthometest-3295f</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthometest-3295f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907181373877:ios:1b8be4ae1733a4135d81fc</string>
	<key>DATABASE_URL</key>
	<string>https://smarthometest-3295f.firebaseio.com</string>
</dict>
</plist>